@charset "UTF-8";
@font-face {
    font-family: ProximaNova;
    src: url(fonts/fonnts.com-Proxima_Nova_Soft_W03_Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: ProximaNova-SemiBold;
    src: url(fonts/fonnts.com-Proxima_Nova_Semibold.otf) format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: ProximaNova-Light;
    src: url(fonts/fonnts.com-Proxima_Nova_Light.otf) format('opentype');
    font-weight: lighter;
}

body {
    font-family: "ProximaNova";
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
}

.header-content {
    background-color: #ffe600;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header {
    background-color: #ffe600;
  }

  .nav-header {
    background-color: #ffe600; /* Cor de fundo do menu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para o menu */
    display: ruby-text;
  }

  .nav-menu-list {
    color: #474519;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .8em;
    max-width: 900px;
  }

  .nav-menu-item {
    position: relative;
  }

  .nav-menu-item a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: block;
    font-family: 'ProximaNova-Light', Arial, sans-serif;
  }

  .nav-menu-categories-link {
    font-weight: normal;
  }

  .nav-menu-item a:hover,
  .nav-menu-item a:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .nav-categs {
    display: none; /* Esconde o dropdown por padrão */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .nav-menu-item:hover .nav-categs,
  .nav-menu-item:focus-within .nav-categs {
    display: block; /* Mostra o dropdown ao passar o mouse */
  }

  .nav-categs-departments {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-categs-departments__list {
    padding: 10px 20px;
  }

  .nav-categs-departments__list a {
    text-decoration: none;
    color: #333;
    display: block;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-weight: normal;
  }

  .nav-categs-departments__list a:hover,
  .nav-categs-departments__list a:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .nav-link-tag--small {
    background-color: #ff5722; /* Cor do tag "Grátis" */
    color: #fff;
    padding: 2px 5px;
    font-size: 1em;
    border-radius: 3px;
    margin-left: 5px;
  }

  .mplay {
    background-color: #00A650; /* Cor do tag "Grátis" */
  }

  .header-content img {
    height: 35px;
  }

  .header-content input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-left: 20px;
  }

  /* Estilos para o menu hamburguer */
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 15px;
  }

  .hamburger-menu div {
    width: 23px;
    height: 1.5px;
    background-color: #333333;
    margin: 3px 0;
  }

  @media (max-width: 800px) {
    .hamburger-menu {
      display: flex;
    }
  }

.header-content input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-left: 10px;
}

/* Estilos para alternar entre as logos */
.logo-large {
    display: none;
}

.logo-small {
    display: block;
}

@media (min-width: 800px) {
    .logo-large {
        display: block;
    }
    
    .logo-small {
        display: none;
    }
}

.interesse {
    margin: 10px 6.5%;
    font-size: .8em;
    color: #171717;
    font-family: "ProximaNova", Arial, Helvetica, sans-serif;
} 
.interesse > p > span {
    color: #171717;
}

#blue {
    color: #3483FA;
    padding-top: 10px;
    cursor: pointer;
}

main {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: auto;
    max-width: 1100px;
    font-family: "ProximaNova";
}

.product-page {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: auto;
    max-width: 1100px;
}

.product-images {
    flex: 1;
    margin-right: 20px;
}

.product-images img {
    width: 100%;
    border-radius: 8px;
}

.product-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.product-details {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.payment-methods {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mais-vendido {
    color: #ffffff;
    background-color: #FF7733;
    font-size: .7em;
    padding: 3px;
    width: 78px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
}

#mais-vendido02 {
    color: #ffffff;
    background-color: #3483FA;
    font-size: .3em;
    padding: 3px;
    width: 70px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    margin-top: 0px;
}

.mais-vendido > span {
    color: #3483FA;
    cursor: pointer;
    font-size: small;
}

.product-details-01 {
    flex: 1;
    padding: 0px;
    background-color: #fff;
    border-radius: 8px;
}
.product-details-01 > h1 {
    font-size: 1.5em;
    margin: 0;
}
.sob-tit {
    margin: 10px 0 10px 0;
    padding: 15px 0;
    font-size: .9em;
    color: #878787;
}
.sob-tit2 {
    margin: 0px 0 10px 0;
    font-size: .9em;
    color: #3483FA;
    cursor: pointer;
}

@media (max-width: 768px) {
    .product-page {
        flex-direction: column;
    }
    
    .product-details-container {
        margin-right: 0;
    }
}

.thumbnail-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail-images img {
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.thumbnail-images img:hover {
    border: 1px solid #3483fa;
}

.h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: initial;
    font-weight: normal;
}

.quick-features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.quick-feature {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 7px;
    margin-right: 10px;
    border-radius: 8px;
}

.icon {
    margin-right: 10px;
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.main-features,
.other-features {
    width: 48%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    font-family: "ProximaNova-Light";
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.feature-label {
    font-weight: bold;
    font-size: .7em;
}

.feature-value {
    text-align: right;
    font-size: .8em;
    padding: 0px 4px;
}

.product-details-02 h1 {
    font-size: 24px;
    color: #333;
}

.rating {
    font-size: 16px;
    color: #3483FA;
    margin-top: 10px;
}

.price {
    font-size: 2em;
    color: #000000;
    margin-bottom: 10px;
}

.original-price {
    text-decoration: line-through;
    font-size: .7em;
    color: #777;
}

.discount {
    color: #4caf50;
    font-size: .7em;
    font-weight: normal;
}
.quantity-selector {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.quantity-selector label {
    margin-right: 8px;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    display: none; /* Esconde o select original */
    border-style: none;
}

.custom-select:after {
    content: "\032D"; /* Código Unicode para o triângulo para baixo */
    position: absolute;
    font-size: 1.8em;
    top: 10%;
    right: 11%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #3483FA;
}

.custom-select select {
    display: inline-block;
    font-size: 1em;
    padding: 5px 10px 5px 3px;
    margin-right: 8px;
    border-radius: 4px;
    appearance: none; /* Remove a seta padrão */
    border-style: none;
    font-family: "ProximaNova-SemiBold", Arial, Helvetica, sans-serif;
}

.quantity-selector .available {
    color: gray;
    font-size: 14px;
}

/* Estilos para o seletor de variações de sabor */
.ui-pdp-variations__picker {
    margin-bottom: 20px;
}

.ui-pdp-variations__title {
    margin-bottom: 10px;
}

.ui-pdp-variations__label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.ui-pdp-variations__selected-label {
    color: #3483FA;
    font-weight: bold;
}

.ui-pdp-variations__selected-text {
    margin-right: 4px;
}

.ui-pdp-thumbnail {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.ui-pdp-thumbnail__container {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

.ui-pdp-thumbnail__label {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.ui-pdp-thumbnail--SELECTED .ui-pdp-thumbnail__container {
    background-color: #3483FA;
}

.ui-pdp-thumbnail--SELECTED .ui-pdp-thumbnail__label {
    color: #fff;
}

/* Estilos adicionais opcionais */
.ui-pdp-thumbnail {
    transition: background-color 0.3s;
}

.ui-pdp-thumbnail:hover .ui-pdp-thumbnail__container {
    background-color: #ddd;
}
.buy-button {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.buy-button.blue {
    background-color: #3483fa;
}

.ui-pdp-thumbnail--SELECTED .ui-pdp-thumbnail__container {
    background-color: #3483FA;
    color: #fff;
}

.ui-vpp-payment-promotion__container {
    border: 1px solid #333;
}

.installments,
.shipping-info,
.stock-info,
.seller-info {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.buy-buttons {
    margin-top: 20px;
}

.buy-buttons button {
    background-color: #3483fa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 100%;
}

.buy-buttons button:hover {
    background-color: #2968c8;
}
.product-details-02 {
    flex-basis: 75%; /* Define a largura de cada seção */
}
.product-description {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between; /* Para distribuir os elementos horizontalmente */
}

.review-summary {
    font-size: 20px;
    color: #3483FA;
}

.review-list .review {
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
    color: #333;
}

h2, h3 {
    color: #333;
}

.reviews-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-reviews {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem a linha quando necessário */
    justify-content: flex-start; /* Distribui os elementos ao longo do espaço disponível */
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1100px;
    padding: 20px;
}

.opinioes {
    flex-basis: 30%; /* Define a largura inicial de .opinioes */
    margin-right: 20px; /* Espaçamento entre .opinioes e .review-column */
}

.review-column {
    flex-basis: 65%; /* Define a largura de .review-column */
    max-width: 400px;
}

@media (max-width: 768px) {
    .product-reviews {
        flex-direction: column; /* Altera para empilhar os elementos em telas menores */
    }

    .opinioes,
    .review-column {
        flex-basis: 100%; /* Em telas menores, ocupa toda a largura disponível */
        margin-right: 0; /* Remove margem para empilhar corretamente */
    }
}


.rating-summary {
    display: flex;
    align-items: center;
}

.rating-score {
    font-size: 2em;
    color: #3483FA;
    margin-right: 10px;
}

.total-reviews {
    font-size: 1em;
    color: #777;
}

.rating-bars {
    margin-left: 20px;
    /* Add styles for rating bars */
}

.characteristic-rating p {
    margin: 5px 0;
    color: #333;
}

.photo-reviews {
    margin-top: 20px;
}

.photo-slider {
    display: flex;
    overflow-x: auto;
    text-align: center;
    position: relative; /* Necessário para posicionamento absoluto */
}

.photo {
    position: relative; /* Necessário para posicionamento absoluto */
    margin-right: 10px;
    text-align: center;
}

.photo img {
    max-width: 100px;
    border-radius: 4px;
}

.rating-opn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.8em;
    color: #3483fa;
}

.review-highlights {
    margin-top: 20px;
    color: #333;
}

.review-highlights a {
    color: #3483FA;
    text-decoration: none;
}

/* Modal CSS */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    color: #3483FA;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.modal-content img {
    max-width: 500px;
    max-height: 500px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.comment {
    margin: 20px 0px 20px 0px;
}

.comment > p {
    margin: 10px 0px 10px 0px;
}

.comment > button {
    font-size: .8em;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    cursor: pointer;
    color: #afafaf;
    background-color: #fff;
    margin-right: 15px;
    padding: 5px;
}
.comment > button:hover {
    color: #3483FA;
    border: 1px solid #3483FA;
    background-color: #ccddf7;

    transition: .3s;
}
.material-symbols-outlined {
    font-size: 1.2em;
    margin: 2px;
}
/* RODAPÉ */

footer.nav-footer {
    background-color: #FFFFFF;
    border-top: 1px solid #dcdcdc;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.nav-footer-user-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-footer-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.nav-footer-copyright {
    display: block;
    margin: 5px auto;
    color: #9999B3;
    font-size: 1em;
}

.nav-footer-navigation {
    margin: 5px auto;
}

.nav-footer-navigation__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-footer-navigation__item {
    margin: 2px 10px;
    font-size: 1.5em;
    font-family: "ProximaNova-Light";
}

.nav-footer-navigation__link {
    color: #3F3F3F;
    text-decoration: none;
    font-size: 0.7em;
}

.nav-footer-navigation__link:hover {
    text-decoration: none;
}

.nav-footer-primaryinfo {
    font-size: 0.7em;
}

.nav-footer-secondaryinfo {
    color: #9999B3;
    font-size: 0.7em;
    margin: 0 0 3px;
}
.mobile {
    display: none;
}

@media (max-width: 800px){

    /* CABEÇALHO */

    header {
        background-color: #FFF159;
    }
    #nav-logo {
        max-width: 25%;
        height: auto;
    }
    #mercadoplay {
        display: none;
    }

    .header-content {
        background-color: #FFF159;
        padding: 10px;
    }
    .nav-menu-list {
        display: none;
    }
    .interesse {
        display: none;
    }

    /* CORPO PRINCIPAL DO SITE */
    .mobile {
        display: block;
        margin: 10px 20px;
    }
    .pc {
        display: none;
    }
    #mais-vendido {
        color: #ffffff;
        background-color: #FF7733;
        font-size: .7em;
        padding: 3px;
        width: 78px;
        font-weight: bold;
        display: inline-block;
        border-radius: 3px;
    }
    
    #mais-vendido02 {
        color: #ffffff;
        background-color: #3483FA;
        font-size: .3em;
        padding: 3px;
        width: 70px;
        font-weight: bold;
        display: inline-block;
        border-radius: 3px;
        margin-top: 0px;
    }
    
    .mais-vendido > span {
        color: #3483FA;
        cursor: pointer;
        font-size: small;
    }
    .sob-tit {
        margin: 10px 0 10px 0;
        padding: 15px 0;
        font-size: .9em;
        color: #878787;
    }
    .sob-tit2 {
        margin: 0px 0 10px 0;
        font-size: .9em;
        color: #3483FA;
        cursor: pointer;
    }
     main {
        width: 100%;
        margin: 0px 0px;
        background-color: #FFFFFF;
    }   
    .quick-feature {
        width: 100%;
        font-size: .8em;
        padding: 5px;
        margin-right: 10px;
    }
    .feature-label span {
        width: 100%;
    }
    .product-details {
        padding: 0;
        box-shadow: none;
    }
    .product-details-01 > h1 {
        font-size: 1.5em;
        font-family: "ProximaNova-Light";
        margin: 10px 0px;
    }
    .product-details-02 {
        width: 100%;
    }
    .details-container {
        display: block;
        width: 100%;
        font-size: 1em;
    }
    .quick-features {
        display: flex;
        overflow-x: auto;
        text-align: center;
        position: relative; /* Necessário para posicionamento absoluto */
        overflow: scroll;
    }
    
    .main-features {
        width: 89%;
    }
    .other-features {
        width: 89%;
    }
    .product-description {
        display: block;
    }
    .review-column {
        width: 88%;
    }
}